*.user
*.cache
*.baml
*.ide-wal
*.ide
*.ide-shm
*.lref
*.resources
*.txt
*.nupkg
*.ps1
*.p7s
*.config
*.pdb
*.dbmdl
Desktop/Anticafe 4.0/Anticafe 4.0/obj/
Desktop/Anticafe 4.0/Anticafe 4.0/bin/Debug/
Desktop/Anticafe 4.0/.vs/
Desktop/Anticafe 4.0/Anticafe 4.0 Model/obj
Desktop/Anticafe 4.0/Anticafe 4.0 Model/bin/Debug/