*.user
*.cache
*.baml
*.ide-wal
*.ide
*.ide-shm
*.lref
*.resources
*.txt
*.nupkg
*.ps1
*.p7s
*.config
*.pdb
*.dbmdl
*.gitconfig
*.gitattributes
*.gitignore
.vs/
Desktop/obj/
Desktop/bin/Debug/
Desktop/obj/Debug/
Desktop/packages/
Anticafe 4.0 Model/obj/
Anticafe 4.0 Model/bin/Debug/
Anticafe 4.0 Model/obj/Debug/
Anticafe 4.0 ModelView/obj/
Anticafe 4.0 ModelView/bin/Debug/
Anticafe 4.0 ModelView/obj/Debug/
Desktop/bin/Release/Anticafe 4.0.vshost.exe
