[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Maxim Stepuchev
[user]
	email = Maksstech97@gmail.com
[user]
	signingkey = C342A7A287439284