<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
	<clear />
    <!--<add name="AnticafeDB" connectionString="Server=MAX-PC\ANTICAFE_DB;Initial Catalog=AnticafeDB;Integrated Security=True;MultipleActiveResultSets=True">-->
		 
    <add name="Anticafe" connectionString="Server=WS-Q0010\LOCALTEST;Initial Catalog=AnticafeDB;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>