<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="Trace" fileName="C:/Log/Anticafe/Trace_${shortdate}.log"
                  layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="Error" fileName="C:/Log/Anticafe/Exception_${shortdate}.log"
              layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Trace" />
    <logger name="*" minlevel="Error" writeTo="Error" />
  </rules>
</nlog>